In [1]:
print('Hello, Python')

Hello, Python

In [2]:
print(1234, 3.141592, True, '문자열', [1, 2, 3, 4, 5]) # 기본 구분자는 공백

1234 3.141592 True 문자열 [1, 2, 3, 4, 5]

In [4]:
print(1234, 3.141592, True, '문자열', [1, 2, 3, 4, 5], sep = "-:*:-") # 기본 구분자는 공백

1234-:*:-3.141592-:*:-True-:*:-문자열-:*:-[1, 2, 3, 4, 5]

In [6]:
str1 = 'Hello, ' + 'Python' # 연결
print(str1)

Hello, Python

In [7]:
str2 = 'Hello\nPython' # \n = escape character
print(str2)

Hello
Python

In [8]:
print('Hello', end='\t')
print('Python')

Hello	Python

In [10]:
# 형식 지정 출력은 문자열 자체의 기능이므로 print 함수와 무관하게 사용 가능

format_str = '정수: %d, 실수: %f, 문자열: %s' % (1234, 3.141592, 'String')
print(format_str)

정수: 1234, 실수: 3.141592, 문자열: String

In [11]:
# 형식 문자의 순서와 값이 알맞게 매치되지 않으면 오류 발생

format_str = '정수: %d, 실수: %f, 문자열: %s' % (1234, 'String', 3.141592)
print(format_str)

TypeError: must be real number, not str

In [19]:
# format

format_str = '정수: {0}, 실수: {1}, 문자열: {2}'.format(1234, 3.141592, 'String')
print(format_str)

정수: 1234, 실수: 3.141592, 문자열: String

In [14]:
# format은 순서 상관 없이 사용 가능

format_str = '{0}, {2}, {1}'.format(1234, 3.141592, 'String')
print(format_str)

1234, String, 3.141592

In [15]:
format_str = '{2}, {1}, {0}, {2}, {1}'.format(1234, 3.141592, 'String')
print(format_str)

String, 3.141592, 1234, String, 3.141592

In [17]:
format_str = '정수: {}, 실수: {}, 문자열: {}'.format(1234, 'String', 3.141592)
print(format_str)

정수: 1234, 실수: String, 문자열: 3.141592

In [20]:
format_str = '{2}, {0}'.format(1234, 'String', 3.141592)
print(format_str)

3.141592, 1234

In [22]:
# 자릿수 맞추기

for num in range(1,10):
    print('{0} * {1} = {2:2d}'.format(3, num, 3 * num)) # %2d
    # 순서번호 + 콜론 + 원하는 형식

3 * 1 =  3
3 * 2 =  6
3 * 3 =  9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [23]:
for num in range(1,10):
    print('{} * {} = {:2d}'.format(3, num, 3 * num))

3 * 1 =  3
3 * 2 =  6
3 * 3 =  9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [25]:
# 여러 가지 형식 지정

print('{0:.3f}, {0:.4f}, {0:.5f}'.format(3.141592))

3.142, 3.1416, 3.14159

In [27]:
math = input('수학 점수를 입력하세요: ')
math = int(math)

print(type(math), math)

수학 점수를 입력하세요: 92.5

ValueError: invalid literal for int() with base 10: '92.5'

In [2]:
# 정수를 입력하라고 해서 그렇게 하지는 않음.

math = input('정수를 입력하세요: ')
math = int(math)

print(type(math), math)

정수를 입력하세요: 손흥민

ValueError: invalid literal for int() with base 10: '손흥민'

In [6]:
# 예외 처리 (예외: 처리 가능한 오류)

math = input('정수를 입력하세요: ')

try: 
    math = int(math) # try 안에 오류가 발생할 수 있는 코드 작성
except:
    print('올바른 정수 값을 입력하세요!') # 오류 발생 시

print(type(math), math)

정수를 입력하세요: 홍
올바른 정수 값을 입력하세요!
<class 'str'> 홍

In [28]:
math = input('수학 점수를 입력하세요: ')
math = float(math)

print(type(math), math)

수학 점수를 입력하세요: 92.5
<class 'float'> 92.5

In [29]:
# 실수로 입력할 수도 있지만 정수만 활용해야 할 때

math = input('수학 점수를 입력하세요: ')
math = float(math)
math = int(math)

print(type(math), math)

수학 점수를 입력하세요: 92.5
<class 'int'> 92

In [31]:
math = int(float(input('수학 점수를 입력하세요: ')))

print(type(math), math)

수학 점수를 입력하세요: 92.87
<class 'int'> 92

In [33]:
kor = input('국어 점수를 입력하세요: ') # input 함수는 반드시 하나의 값만 받음
eng = input('영어 점수를 입력하세요: ')
math = input('수학 점수를 입력하세요: ')

print(kor, eng, math)

국어 점수를 입력하세요: 80
영어 점수를 입력하세요: 90
수학 점수를 입력하세요: 100
80 90 100

In [35]:
score = input('국어, 영어, 수학 점수를 입력하세요: ')
score.split(' ')

국어, 영어, 수학 점수를 입력하세요: 80 90 70

['80', '90', '70']

In [10]:
str1 = '90 80 70' # 공백으로 구분된 개별 문자열 = 토큰, 단위 문자열
str1_list = str1.split(' ')

str2 = '95,85,75'
str2_list = str2.split(',')

print(str1_list, str2_list)

['90', '80', '70'] ['95', '85', '75']

In [ ]:
'''
문제) 사용자에게 국어, 영어, 수학 점수를 한 번에 입력으로 받아 각 점수, 총점, 평균을 출력하는 코드를 작성하세요.
    
    score = input('국어, 영어, 수학 점수를 입력하세요: ')
'''

# score.split(' ')은 문자열로 저장돼서 바로 숫자로 사용 불가

In [4]:
# answer

scores = input('국어, 영어, 수학 점수를 입력하세요: ')
scores = scores.split(' ')

for i in range(len(scores)):
    scores[i] = int(scores[i])
    
print('점수: %s, 총점: %d, 평균: %.2f' % (scores, sum(scores), sum(scores) / len(scores)))

국어, 영어, 수학 점수를 입력하세요: 78 99 34 76
점수: [78, 99, 34, 76], 총점: 287, 평균: 71.75

In [7]:
# answer improved (comprehension)

scores = input('국어, 영어, 수학 점수를 입력하세요: ')
scores = scores.split(' ')
scores = [int(score) for score in scores]
    
print('점수: {0}, 총점: {1}, 평균: {2:.2f}'.format(scores, sum(scores), sum(scores) / len(scores)))

국어, 영어, 수학 점수를 입력하세요: 74 96 83
점수: [74, 96, 83], 총점: 253, 평균: 84.33

In [8]:
f = open('myFile.txt', 'wt')
f.write('This is my first file.')
f.close()

In [10]:
f = open('C:/myPyCode/data/myFile.txt', 'wt')
f.write('[절대경로] This is my first file.')
f.close()

In [11]:
f = open('../data/myFile.txt', 'wt')
f.write('[상대경로] This is my first file.')
f.close()

In [12]:
f = open('../data/myFile.txt', 'wt')
f.write('1. This is my first file.')
f.write('2. This is my first file.')
f.write('3. This is my first file.')
f.close()

In [13]:
# write는 자동 개행이 안되므로 반드시 \n 필요

f = open('../data/myFile.txt', 'wt')
f.write('1. This is my first file.\n')
f.write('2. This is my first file.\n')
f.write('3. This is my first file.\n')
f.close()

In [26]:
# data 폴더의 myFile.txt 파일을 삭제 후 다음 코드 실행

f = open('../data/myFile.txt', 'xt')
f.write('1. This is my first file.\n')
f.write('2. This is my first file.\n')
f.write('3. This is my first file.\n')
f.close()

In [27]:
f = open('../data/myFile.txt', 'xt')
f.write('4. This is my first file.\n')
f.write('5. This is my first file.\n')
f.write('6. This is my first file.\n')
f.close()

FileExistsError: [Errno 17] File exists: '../data/myFile.txt'

In [28]:
try:
    f = open('../data/myFile.txt', 'xt')
    f.write('4. This is my first file.\n')
    f.write('5. This is my first file.\n')
    f.write('6. This is my first file.\n')
    f.close()
except:
    print('동일한 이름의 파일이 존재합니다')

동일한 이름의 파일이 존재합니다

In [29]:
# data 폴더의 myFile.txt 파일을 삭제 후 다음 코드 실행

f = open('../data/myFile.txt', 'at')
f.write('1. This is my first file.\n')
f.write('2. This is my first file.\n')
f.write('3. This is my first file.\n')
f.close()

In [30]:
f = open('../data/myFile.txt', 'at')
f.write('4. This is my first file.\n')
f.write('5. This is my first file.\n')
f.write('6. This is my first file.\n')
f.close()

In [31]:
f = open('../data/myFile.txt', 'rt')
file_text = f.read()
f.close()

print(file_text)

1. This is my first file.
2. This is my first file.
3. This is my first file.
4. This is my first file.
5. This is my first file.
6. This is my first file.

In [32]:
file_text # 항상 print로 출력 필요

'1. This is my first file.\n2. This is my first file.\n3. This is my first file.\n4. This is my first file.\n5. This is my first file.\n6. This is my first file.\n'

In [1]:
f = open('../data/two_times_table.txt', 'wt')

for num in range(1, 10):
    output_str = '{} * {} = {:2d}\n'.format(2, num, 2 * num)
    f.write(output_str)
    
f.close()

In [ ]:
'''
문제) 2단부터 9단까지의 레이블 있는 수평 구구단의 결과를 data/gugu.txt 파일로 저장하는 코드를 작성하세요.
'''

In [41]:
# my

[ 2 단 ]	[ 3 단 ]	[ 4 단 ]	[ 5 단 ]	[ 6 단 ]	[ 7 단 ]	[ 8 단 ]	[ 9 단 ]	2 * 1 =  2
3 * 1 =  3
4 * 1 =  4
5 * 1 =  5
6 * 1 =  6
7 * 1 =  7
8 * 1 =  8
9 * 1 =  9
2 * 2 =  4
3 * 2 =  6
4 * 2 =  8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18
2 * 3 =  6
3 * 3 =  9
4 * 3 = 12
5 * 3 = 15
6 * 3 = 18
7 * 3 = 21
8 * 3 = 24
9 * 3 = 27
2 * 4 =  8
3 * 4 = 12
4 * 4 = 16
5 * 4 = 20
6 * 4 = 24
7 * 4 = 28
8 * 4 = 32
9 * 4 = 36
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
2 * 6 = 12
3 * 6 = 18
4 * 6 = 24
5 * 6 = 30
6 * 6 = 36
7 * 6 = 42
8 * 6 = 48
9 * 6 = 54
2 * 7 = 14
3 * 7 = 21
4 * 7 = 28
5 * 7 = 35
6 * 7 = 42
7 * 7 = 49
8 * 7 = 56
9 * 7 = 63
2 * 8 = 16
3 * 8 = 24
4 * 8 = 32
5 * 8 = 40
6 * 8 = 48
7 * 8 = 56
8 * 8 = 64
9 * 8 = 72
2 * 9 = 18
3 * 9 = 27
4 * 9 = 36
5 * 9 = 45
6 * 9 = 54
7 * 9 = 63
8 * 9 = 72
9 * 9 = 81

In [43]:
# answer

f = open('../data/gugu.txt', 'wt')

for num in range(0, 10):
    for dan in range(2, 10):
        if num == 0:
            f.write('[ %d 단 ]\t' % (dan))            
        else:
            f.write('%d * %d = %2d\t' % (dan, num, dan * num))
    f.write('\n')

f.close()

In [2]:
f = open('../data/two_times_table.txt', 'rt')

line1 = f.readline()
line2 = f.readline()
line3 = f.readline()

line1

f.close()

'2 * 1 =  2\n'

In [3]:
print(line1)
print(line2)
print(line3)

2 * 1 =  2

2 * 2 =  4

2 * 3 =  6

In [5]:
print(line1, end='')
print(line2, end='')
print(line3, end='')

2 * 1 =  2
2 * 2 =  4
2 * 3 =  6

In [6]:
type(True)

bool

In [10]:
print(bool(1), bool(-1), bool(3.14), bool(0))

True True True False

In [9]:
print(bool('a'), bool(' '), bool(''))

True True False

In [ ]:
'''
문제1] data/two_times_table.txt 파일의 모든 내용을 읽고 출력하는 조건 반복문을 작성하세요.
'''

In [17]:
# answer

f = open('../data/two_times_table.txt', 'rt')

line = f.readline()

while(bool(line)): # 조건을 먼저 검사하기 때문에 중복 발생
    print(line, end='')
    line = f.readline() # line5와 반복인 점 수정 필요

f.close()

2 * 1 =  2
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [ ]:
'''
문제2] data/two_times_table.txt 파일의 모든 내용을 읽고 출력하는 반복문을 작성하세요.
        단, 코드의 중복은 발생하지 않습니다.
'''

In [19]:
# answer

f = open('../data/two_times_table.txt', 'rt')

while(True):
    line = f.readline()
    
    if not line: # bool 안 써도 암시적 형변환 발생
        break
    
    print(line, end='')

f.close()

2 * 1 =  2
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [20]:
f = open('../data/two_times_table.txt', 'rt')

lines = f.readlines()
print(lines)

f.close()

['2 * 1 =  2\n', '2 * 2 =  4\n', '2 * 3 =  6\n', '2 * 4 =  8\n', '2 * 5 = 10\n', '2 * 6 = 12\n', '2 * 7 = 14\n', '2 * 8 = 16\n', '2 * 9 = 18\n']

In [21]:
# readlines 활용법 3가지 - (1) 바로 파일을 닫기 때문에 가장 좋음

f = open('../data/two_times_table.txt', 'rt')

lines = f.readlines()
f.close()

for line in lines:
    print(line, end='')

2 * 1 =  2
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [22]:
# readlines 활용법 3가지 - (2)

f = open('../data/two_times_table.txt', 'rt')

for line in lines:
    print(line, end='')
    
f.close()

2 * 1 =  2
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [23]:
# readlines 활용법 3가지 - (3) 모호하기 때문에 가장 좋지 않음

f = open('../data/two_times_table.txt', 'rt')

for line in f:
    print(line, end='')
    
f.close()

2 * 1 =  2
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [24]:
with open('../data/my_file2.txt', 'wt') as f:
    f.write('File read/write test: line1\n')
    f.write('File read/write test: line2\n')
    f.write('File read/write test: line3\n')

In [25]:
with open('../data/my_file2.txt', 'rt') as f:
    lines = f.read()
    
print(lines) # with 블록 안에는 읽고 쓰는 것만 있어야 함. print는 with 블록 밖에

File read/write test: line1
File read/write test: line2
File read/write test: line3

In [ ]:
'''
문제] 구구단 3단의 내용을 data/my_flie3.txt 파일로 저장하고 다시 읽어서 출력하는 코드를 작성하세요.
        단, with 블록과 반복문을 사용합니다.
'''

In [27]:
with open('../data/my_file3.txt', 'wt') as f:
    dan = 3
    
    for num in range(1, 10):
        f.write('%d * %d = %2d\n' % (dan, num, dan * num))

In [28]:
with open('../data/my_file3.txt', 'rt') as f:
    lines = f.readlines() # with 안에는 읽기, 쓰기 작업만
    
for line in lines:
    print(line, end='')

3 * 1 =  3
3 * 2 =  6
3 * 3 =  9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [ ]:
'''
문제] 다음의 내용을 'data/stu_info.txt' 파일로 저장 후 읽어서 1등인 학생의 정보를 출력하는 코드를 작성하세요.

[ data/stu_info.txt 파일 내용 ]
이름 국어 영어 수학 과학
손흥민 90 85 80 75
류현진 80 75 70 75
박찬호 85 70 75 80
이승엽 80 85 80 70
김연아 90 95 85 95

[ 파일의 내용을 읽은 후 출력 결과 ]
1등 >>> 김연아 [90 95 85 95] / 총점: 365, 평균: 91.25
'''

In [38]:
# answer

stu_info = '류현진 80 75 70 75\n'

#1. 각 줄의 개행 문자 제거
stu_info = stu_info[:len(stu_info) - 1]    

#2. 각 줄의 정보를 리스트로 변환하여 저장
stu_info = stu_info.split(' ')

#3. 각 과목의 성적 정보를 정수로 변환
for i in range(1, len(stu_info)):
    stu_info[i] = int(stu_info[i])

#4. 각 학생의 총점을 계산하여 리스트의 마지막 값으로 추가
stu_info.append(sum(stu_info[1:]))

stu_info

['류현진', 80, 75, 70, 75, 300]

In [1]:
stu_info = '''이름 국어 영어 수학 과학
손흥민 90 85 80 75
류현진 80 75 70 75
박찬호 85 70 75 80
이승엽 80 85 80 70
김연아 90 95 85 95
'''

with open('../data/stu_info.txt', 'wt') as f:
    f.write(stu_info)

In [3]:
# answer

with open('../data/stu_info.txt', 'rt') as f:
    lines = f.readlines()
    
lines = lines[1:] # 헤딩 제거
max_total = 0
first_place = -1

for i in range(len(lines)):
    lines[i] = lines[i][:len(lines[i]) - 1]
    lines[i] = lines[i].split(' ') # 항목별 리스트 생성
    
    for j in range(1, len(lines[i])):
        lines[i][j] = int(lines[i][j])

    lines[i].append(sum(lines[i][1:]))
    
    if lines[i][-1] > max_total:
        max_total = lines[i][-1]
        first_place = i


print('1등 >>> %s %s / 총점 %d, 평균 %.2f' % (lines[first_place][0], lines[first_place][1:5],
                                        max_total, max_total / 4))

1등 >>> 김연아 [90, 95, 85, 95] / 총점 365, 평균 91.25