In [101]:
print(5 + 2)
print(5 - 2)
print(5 * 2)
print(5 / 2) # 정수 / 정수 = 실수
print(4 / 2) # 정수 / 정수 = 실수 (2.0=/2)

7
3
10
2.5
2.0

In [102]:
print(5 + 2.0) # 정수와 실수가 섞인 계산의 결과는 실수
print(5.0 + 2)
print(5.0 + 2.0)

7.0
7.0
7.0

In [103]:
2 + 3 * 4

14

In [104]:
2 + 3 + 4

9

In [105]:
num = 10

In [106]:
2 + 3 - 4

1

In [107]:
(2 + 3) * 4

20

In [108]:
(5 * 4 - 15) + ((5 - 2) * (9 - 7))

11

In [109]:
type(3)

int

In [110]:
print(type(3)) # 3은 int라는 class를 이용해 만들어진 개체라는 뜻

<class 'int'>

In [111]:
type(3.14)

float

In [112]:
type('손흥민')

str

In [113]:
print(9 / 2)
print(9 // 2)
print(9 % 2)

4.5
4
1

In [114]:
print(9.2 // 2.5) # 실수값에 대한 몫, 나머지 연산도 가능
print(9.2 % 2.5)

3.0
1.6999999999999993

In [115]:
print(2*2*2*2*2*2*2*2*2*2)
print(2**10)

1024
1024

In [116]:
print(2.5**2.2) # 실수값에 대한 거듭제곱 연산도 가능

7.507027712383946

In [117]:
print(3 * 10 ** 8)
print(3e8)

300000000
300000000.0

In [118]:
print(1e15)
print(1e16)

1000000000000000.0
1e+16

In [119]:
print(1e-4) # 과학적 표기법의 결과는 언제나 실수
print(1e-5)

0.0001
1e-05

In [120]:
print(97)
print(0x61) # 16진수, hex
print(0o141) # 8진수, oct
print(0b01100001) # 2진수, bin

97
97
97
97

In [121]:
print(97)
print(hex(97))
print(oct(97))
print(bin(97))

97
0x61
0o141
0b1100001

In [122]:
print(0x61 + 10)
print(0o141 + 10)
print(0b1100001 + 10)

107
107
107

In [123]:
hex(97) + 10 # 문자열 + 숫자이기 때문에 오류 발생
print(hex(97) + 10) # 문자열 + 숫자이기 때문에 오류 발생

TypeError: can only concatenate str (not "int") to str

In [124]:
hex(97 + 10) #변환함수는 모든 연산 마치고 마지막 결과 변환할 때 사용

'0x6b'

In [125]:
print(hex(97))
print(type(hex(97))) # hex(97)는 문자열

0x61
<class 'str'>

In [126]:
print(3 + 5)

8

In [127]:
print(3 + '문자열')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [128]:
print(3 * '문자열') # 오류가 아님, 문자열 반복 연산자
print(3 * 4) # 산술 연산자
# 연산 시 중요한 것 1) 연산자 방향 2) 연산자 우선순위 3) 피연산자의 종류

문자열문자열문자열
12

In [129]:
print(True, False) # True, False는 예약어

True False

In [130]:
print(true) # True는 반드시 대문자

NameError: name 'true' is not defined

In [131]:
print(type(True), type(False))

<class 'bool'> <class 'bool'>

In [132]:
print(5 == 3)
print(5 != 3)
print(5 < 3)
print(5 > 3)
print(5 <= 3)
print(5 >= 3)

False
True
False
True
False
True

In [133]:
print(5 == 'apple') # 동등 연산은 자료형 관계없이 같은지만 판단

False

In [134]:
print(5 > 'apple') # > 연산은 크기를 비교하기 때문에 자료형이 같아야만 계산 가능

TypeError: '>' not supported between instances of 'int' and 'str'

In [135]:
print (5 > 3)
print (5 > 3.5) # 숫자는 같은 종류이므로 비교 가능

True
True

In [136]:
True + 1 # True = 1, True는 숫자라고 할 수 있음

2

In [137]:
False + 2 # False = 0, False도 숫자라고 할 수 있음

2

In [138]:
print (3 > True)

True

In [139]:
print('apple' < 'tree') # 파이썬에서는 문자열과 문자열을 비교할 때 비교연산자 사용 가능

True

In [140]:
print('사과' < 'tree')

False

In [ ]:
# 문자열의 크기를 비교하는 기준?
'''
    다음 문자열의 크기를 고려하여 그 크기 순으로 나열하는 순서를 결정하세요.
    1) 'apple'
    2) 'APPLE'
    3) '사과'
    4) '1234'
    
    파이썬 인코딩 방식: UTF-8
    
    ### 문자열 크기 순서 ###
    숫자 문자 < 알파벳 대문자 < 알파벳 소문자 < 한글 문자
'''
# ASCII코드는 알파벳 대소문자 (52개), 숫자(10개), 특수문자, 제어문자 정렬 가능 (128개)

In [141]:
print(ord('a')) # 3. 소문자
print(ord('A')) # 2. 대문자
print(ord('사')) # 4. 한글
print(ord('1')) # 1. 숫자

97
65
49324
49

In [142]:
print(ord('a'), ord('b'), ord('c'), ord('z'))
print(ord('A'), ord('B'), ord('C'), ord('Z'))

97 98 99 122
65 66 67 90

In [143]:
'abcd' < 'abde' # 앞에서부터 하나씩 크기 비교

True

In [144]:
print('1234' < 'APPLE')
print('APPLE' < 'apple')
print('apple' < '사과')

True
True
True

In [145]:
print(True and False) # 실제로 이런 코드를 작성할 일은 없음
print(True or False)
print(not True)

False
True
False

In [ ]:
'''
문제 1) 사용자에게 수학 점수를 입력으로 받아 80점 이상이면 True, 아니면 False를 출력하는 코드를 작성하세요.
'''

In [146]:
math = input('수학 점수를 입력하세요: ') # input을 통해 받는 값은 언제나 문자열로 변환됨

print(type(math), math)

수학 점수를 입력하세요: 80
<class 'str'> 80

In [150]:
print(type(1234))
print(type('1234'))
print(type(int('1234')))

<class 'int'>
<class 'str'>
<class 'int'>

In [151]:
type('78.5')

str

In [152]:
type(float('78.5'))

float

In [153]:
math = input('수학 점수를 입력하세요: ') # input을 통해 받는 값은 언제나 문자열로 변환됨
math = int(math) # int를 통해 str를 int화

print(math >= 80)

수학 점수를 입력하세요: 70
False

In [ ]:
'''
문제 2) 사용자에게 수학과 영어 점수를 입력으로 받아 모든 점수가 80점 이상이면 True, 아니면 False를 출력하는 코드를 작성하세요.
'''

In [159]:
math = int(input('수학 점수를 입력하세요: '))
eng = int(input('영어 점수를 입력하세요: '))

print('결과: ', math and eng >= 80) # math >= 80 and eng >= 80 로 써도 됨

수학 점수를 입력하세요: 81
영어 점수를 입력하세요: 78
결과:  False

In [ ]:
'''
문제 3) 사용자에게 수학과 영어 점수를 입력으로 받아 한 과목이라도 점수가 80점 미만이면 True,
아니면 False를 출력하는 코드를 작성하세요.
'''

In [164]:
math = int(input('수학 점수를 입력하세요: ')) # 함수 안에 함수 사용하는 것을 함수 중첩이라고 함, 내함수 먼저 계산
eng = int(input('영어 점수를 입력하세요: '))

print('결과: ', math < 80 or eng < 80)
# print('결과: ', math or eng < 80) 으로 하면 오류 생김

수학 점수를 입력하세요: 81
영어 점수를 입력하세요: 82
결과:  False

In [ ]:
'''
문제 2) 사용자에게 수학과 영어 점수를 입력으로 받아 모든 점수가 80점 이상이면 True, 아니면 False를 출력하는 코드를 작성하세요.
단, and 연산자를 사용할 수 없음.
'''

In [173]:
math = int(input('수학 점수를 입력하세요: '))
eng = int(input('영어 점수를 입력하세요: '))

print('결과: ', not (math < 80 or eng < 80)) # a and b 의 반대는 not a or b
# 80을 70 + 10으로 해도 됨. 산술 > 비교 > 논리 연산자 순으로 우선순위 작동

수학 점수를 입력하세요: 80
영어 점수를 입력하세요: 90
결과:  True

In [174]:
print(((3 > 0) or (-5 > 0)) and ((4 > 8) or (3 < 0)))

False

In [ ]:
'''
총 정리 문제) 다음 결과를 출력하는 코드를 작성하세요.

실행 예1)
하나의 실수를 입력하세요: 3.6
버림: 3
반올림: 4

실행 예2)
하나의 실수를 입력하세요: 3.4
버림: 3
반올림: 3
'''

In [182]:
num = float(input('하나의 실수를 입력하세요: '))

print('\n버림:', int(num)) # \n 입력하면 줄바꿈 됨
print('반올림:', int(num + 0.5)) # 0.5 더해서 반올림

하나의 실수를 입력하세요: 3.55667

버림: 3
반올림: 4