In [1]:
var1 = 1234
print(type(var1), var1)

<class 'int'> 1234

In [4]:
var2 = 1234.5678
print(type(var2), var2)

<class 'float'> 1234.5678

In [5]:
var3 # 변수는 반드시 만들면서 값을 지정해 주어야 함.
var3 = 1234

NameError: name 'var3' is not defined

In [6]:
math_score3 = 70
print(math_score3)

70

In [7]:
3mom = 20 # 숫자로 시작하는 변수는 불가

SyntaxError: invalid syntax (1156488921.py, line 1)

In [9]:
_name = '손흥민' # _로 시작하거나 끝날 수 있지만 사용하지 않음. _는 특별한 의미를 가짐.
print(_name)

손흥민

In [10]:
apple = '사과'
APPLE = '나도 사과'

print(apple, APPLE)

사과 나도 사과

In [3]:
변수 = '변수 값' # 변수 명은 한글일 수 있음. UTF-8 인코딩 방식에서 지원하는 건 다 가능하지만 권장하지는 않음.
print(변수)

변수 값

In [11]:
my$name = '손흥민' # 다른 언어와 달리 파이썬은 $ 사용 불가
print(my$name)

SyntaxError: invalid syntax (2491307893.py, line 1)

In [12]:
for = '사과' # for과 같은 예약어는 변수로 사용하지 않음
print(for)

SyntaxError: invalid syntax (3413986133.py, line 1)

In [6]:
math_score = 90 # _(underscore) 가능
mathScore = 85 # 단어와 단어가 구분되는 지점에서 대문자 사용하는 경우 많음.
ms = 80 # 권장하지 않음. 변수명은 의미가 파악될 수 있게 지정.

print(math_score, mathScore, ms)

90 85 80

In [ ]:
'''
### 파이썬 데이터 타입 ###

1. 기본 자료형(primitive type): 한 번에 하나의 값을 저장하는 데이터 타입
    - int
        C언어, 자바의 int는 4바이트, 32비트로 정해져 있음) (파이썬 int는 값의 범위에 제한이 없음
    - float
        IEEE(국제전기전자표준협회)가 754번째 표준(IEEE754)으로 컴퓨터에 실수값 저장에 대한 규칙을 정해놓음 
        실수값을 4바이트 또는 8바이트로 저장하는데 파이썬은 8바이트만 지원
        64비트(8바이트) = 1(부호 저장) / 12(지수 저장) / 51(가수 저장) 비트로 나눌 수 있음.
    - bool
    - complex(복소수)

2. 복합 자료형(container type): 한 번에 여러 값 저장 가능한 데이터 타입
    - str
        문자들의 집합으로 이해하면 되지만 자료 저장소로서의 의미는 부족하기 때문에 나머지 4개와 구분됨
    --------------------------
    - list
        가장 폭넓게, 많이 사용됨
    - tuple
    - set
    - dict
'''

In [7]:
num1 = 1234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890
num2 = 1234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890

num1 * num2 # 파이썬은 100자리 * 100자리도 가능함. 즉, int 값의 범위의 제한이 없음

1524157875323883675049535156256668194500838287337600975522511812231126352691000152415888766956267751562263087639079520012193273126047859425087639153757049236500533455762536198787501905199875019052100

In [10]:
# 8.5 => 8 + 0.5
print(0b1000)
print(0b1 * 2 ** -1)

8
0.5

In [ ]:
'''
문제) 10진수 8.5를 2진수로 변환하여 출력하는 코드를 작성하세요.
'''

In [13]:
0b10001 * 2 ** -1 # 가수: 10001, 지수: -1

8.5

In [14]:
type(3 + 4j) # 파이썬에서 복소수는 i가 아니라 j를 사용함

complex

In [15]:
'문자열'

'문자열'

In [18]:
"문자열"
# 큰 따옴표, 작은 따옴표 둘 다 가능하지만 작은 따옴표가 기본임

'문자열'

In [20]:
str1 = 'This is a "double" quotation test'
str2 = "This is a 'single' quotation test"

print(str1)
print(str2)

# 큰 따옴표와 작은 따옴표는 중첩 불가.만약 안에 작은 따옴표 있으면 밖에 큰 따옴표 사용해야함 (vice versa)

This is a "double" quotation test
This is a 'single' quotation test

In [21]:
str3 = 'This is a \'double\' quotation test' # 이전에는 escape character \ 썼지만 이제는 그렇게 하지 않음.
print(str3)

This is a 'double' quotation test

In [27]:
# 3중 따옴표 위치에 따라 행 추가 여부 결정됨

str4 = '''동해물과 백두산이
마르고 닳도록''' # 위아래 행 추가 없음
str5 = '''동해물과 백두산이
마르고 닳도록
''' # 아래에 행 추가
str6 = """
동해물과 백두산이
마르고 닳도록""" # 위에 행 추가

print(str4)
print(str5)
print(str6)

동해물과 백두산이
마르고 닳도록
동해물과 백두산이
마르고 닳도록


동해물과 백두산이
마르고 닳도록

In [30]:
str4
# \n = escape character, 개행 문자
# 3중 따옴표 쓸 때는 직접 실행이 아니라 print 통해 실행해야 함

'동해물과 백두산이\n마르고 닳도록'

In [31]:
# 주석(comment): 파이썬 인터프리터가 해석하지 않고 무시하는 영역
# 파이썬은 한 줄짜리 주석만 제공함. 여러 줄 주석은 삼중 큰/작은 따옴표로 표시함.

'''
    여러 줄 주석을 사용하기 위해서
    삼중 따옴표 문자열을 사용할 수 있습니다.
'''

3 + 5 # 한 줄, 여러 줄 주석 모두 무시됨

8

In [37]:
# 문자열 연결 연산
'python ' + 'programming ' + 'language'

'python programming language'

In [41]:
# 문자열 반복 연산
3 * 'python' * 3

'pythonpythonpythonpythonpythonpythonpythonpythonpython'

In [42]:
stu1 = [90, 80, 85, 95]
print(type(stu1), stu1)

<class 'list'> [90, 80, 85, 95]

In [44]:
print(stu1[0], stu1[1], stu1[2], stu1[3]) # 정방향 인덱스

90 80 85 95

In [45]:
print(stu1[-1], stu1[-2], stu1[-3], stu1[-4]) # 역방향 인덱스

95 85 80 90

In [46]:
stu1[3] = 100 # 리스트 내 특정 값 수정
stu1

[90, 80, 85, 100]

In [47]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
myFriends

['James', 'Robert', 'Lisa', 'Mary']

In [49]:
print(myFriends[0], myFriends[1], myFriends[-1], myFriends[-2])

James Robert Mary Lisa

In [72]:
mixed_list = [0, 1, 3.14, 'python', 'program', True, myFriends]
print(mixed_list[0], mixed_list[1], mixed_list[-2], mixed_list[-1])

0 1 True ['James', 'Robert', 'Lisa', 'Mary']

In [57]:
print(mixed_list[-1][0], mixed_list[-1][1], mixed_list[-1][-1]) # [] 두번 써서 리스트 내 리스트에 접근 가능

James Robert Mary

In [58]:
lst1 = [1, 2, 3, 4]
lst2 = [5, 6, 7, 8]

lst1 + lst2

[1, 2, 3, 4, 5, 6, 7, 8]

In [59]:
print(lst1, lst2) # 리스트 연결/반복 연산은 원래의 리스트를 변경하는 게 아니라 새로운 리스트를 생성함

[1, 2, 3, 4] [5, 6, 7, 8]

In [60]:
lst1 * 3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [61]:
lst1 # 원래의 리스트는 안 바뀜

[1, 2, 3, 4]

In [67]:
lst = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
      
print(lst[1:5:1])
print(lst[1:5]) # 1부터 5까지의 리스트
print(lst[:6]) # : 때문에 스타트가 생략된 것을 알 수 있음
print(lst[::2]) # 0부터 끝까지 2씩 증가하는 리스트
print(lst[::]) # 전체 리스트, 리스트 이름만 쓰는 것과 동일

[1, 2, 3, 4]
[1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 2, 4, 6, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [70]:
lst = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

print(lst[-2:-8:-2]) # 역방향 인덱스도 슬라이싱 가능
print(lst[-2:-8:-1])
print(lst[-2:-8]) # 스텝 없어서 1씩 증가해야 하는데 방향이 충돌함. 역방향 인덱스는 반드시 스텝 지정 필요

[8, 6, 4]
[8, 7, 6, 5, 4, 3]
[]

In [73]:
mixed_list = [0, 1, 3.14, 'python', 'program', True, myFriends]

print(mixed_list)

del mixed_list[3] # 0부터 시작하니까 3은 4번째

print(mixed_list)

[0, 1, 3.14, 'python', 'program', True, ['James', 'Robert', 'Lisa', 'Mary']]
[0, 1, 3.14, 'program', True, ['James', 'Robert', 'Lisa', 'Mary']]

In [76]:
mixed_list = [0, 1, 3.14, 'python', 'program', True, myFriends]

print('python' in mixed_list)
print('java' in mixed_list)

True
False

In [77]:
mixed_list = [0, 1, 3.14, 'python', 'program', True, myFriends]

print(len(mixed_list)) # len = length, 값의 개수는 7개

7

In [83]:
lst = [1, 2, 3, 4]
print(lst[1]) # read

lst[1] = 22
print(lst[1]) # update

del lst[1] # delete
print(lst)

print(lst[2])
lst[3] = 5 # insert는 수행 불가. 존재하지 않는 (3번) 인덱스는 사용할 수 없기 때문.

2
22
[1, 3, 4]
4

IndexError: list assignment index out of range

In [88]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
print(myFriends)

myFriends.append('Thomas')
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Robert', 'Lisa', 'Mary', 'Thomas']

In [89]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
print(myFriends)

myFriends.insert(1, 'Paul')
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Paul', 'Robert', 'Lisa', 'Mary']

In [90]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
newFriends = ['Laura', 'Betty']

print(myFriends + newFriends)
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary', 'Laura', 'Betty']
['James', 'Robert', 'Lisa', 'Mary']

In [103]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
newFriends = ['Laura', 'Betty']

myFriends.extend(newFriends)
print(myFriends)

print(myFriends)
myFriends.remove('Laura')
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary', 'Laura', 'Betty']
['James', 'Robert', 'Lisa', 'Mary', 'Laura', 'Betty']
['James', 'Robert', 'Lisa', 'Mary', 'Betty']

In [107]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
print(myFriends)

print('Laura' in myFriends)

# myFriends.remove('Laura') # 존재하지 않는 값을 제거할 수 없다.
# print('Laura' in myFriends)를 통해 존재 여부 먼저 파악

myFriends.remove('Laura')

['James', 'Robert', 'Lisa', 'Mary']
False

ValueError: list.remove(x): x not in list

In [110]:
lst = [1, 2, 3, 4, 2, 5]
print(lst)

lst.remove(2)
print(lst) # 입력값과 첫 번째로 일치하는 항목을 삭제함

[1, 2, 3, 4, 2, 5]
[1, 3, 4, 2, 5]

In [112]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
print(myFriends)

removeFriend = myFriends.pop()
print(myFriends, removeFriend)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Robert', 'Lisa'] Mary

In [116]:
my_friends = ['James', 'Robert', 'Lisa', 'Mary']
print(my_friends)

friend_index = my_friends.index('Lisa')
print(friend_index, my_friends[friend_index])

['James', 'Robert', 'Lisa', 'Mary']
2 Lisa

In [117]:
lst = [1, 2, 3, 4, 5, 6, 3, 7, 8]

lst.index(3) # 첫 번째의 순서 번호 리턴

2

In [121]:
# list_name.index(값, 검색 시작 인덱스(어느 위치부터 값을 찾기 시작할 건지))
# lst 리스트에서 두 번째 3 값의 인덱스를 확인하려면
lst = [1, 2, 3, 4, 5, 6, 3, 7, 8]

idx = lst.index(3)
idx # 여기까지 해서 실행하면 첫 번째 3의 위치 2 리턴
print('첫 번째 3의 위치: ', idx)

idx = lst.index(3, idx + 1)
idx # 여기까지 해서 실행하면 두 번째 3의 위치 6 리턴
print('두 번째 3의 위치: ', idx)

del lst[idx]
print(lst)

첫 번째 3의 위치:  2
두 번째 3의 위치:  6
[1, 2, 3, 4, 5, 6, 7, 8]

In [122]:
lst = [1, 2, 3, 4, 5, 6, 3, 7, 8]

lst.index(10) # 존재하지 않는 값을 찾고자 하면 ValueError 오류 발생하므로 in 명령어 사용해서 확인 필요

ValueError: 10 is not in list

In [126]:
lst = [1, 2, 5, 3, 4, 5, 6, 7, 5, 8]

print(lst.count(2), lst.count(5))

1 3

In [ ]:
'''
문제) 다음 리스트에서 마지막 5를 제거하는 코드를 작성하세요.
lst = [1, 2, 5, 3, 4, 5, 6, 7, 5, 8]
'''

In [141]:
# 방법 1
lst = [1, 2, 5, 3, 4, 5, 6, 7, 5, 8]
idx = lst.index(5)
idx = lst.index(5, idx+1)
idx = lst.index(5, idx+1)

del lst[idx]

print(lst)

[1, 2, 5, 3, 4, 5, 6, 7, 8]

In [146]:
# 방법 2 (reverse 활용)
lst = [1, 2, 5, 3, 4, 5, 6, 7, 5, 8]
print(lst)

lst.reverse()
print(lst)

lst.remove(5)
print(lst)

lst.reverse()
print(lst)

[1, 2, 5, 3, 4, 5, 6, 7, 5, 8]
[8, 5, 7, 6, 5, 4, 3, 5, 2, 1]
[8, 7, 6, 5, 4, 3, 5, 2, 1]
[1, 2, 5, 3, 4, 5, 6, 7, 8]

In [147]:
lst = [5, 2, 8, 3, 1, 4, 6, 9, 7]
print(lst)

lst.sort() # 새로운 리스트 만드는 게 아니라 기존 리스트가 바뀌는 것
print(lst) # sort 사용하는 순간 원래 순서를 찾을 수 없어서 위험함

[5, 2, 8, 3, 1, 4, 6, 9, 7]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
'''
완전한 데이터 저장소로 사용되기 위해서는 CRUD(Create, Read, Update, Delete)가 가능해야 함
- list (o)
- tuple (일부 지원)
- set (일부 지원)
- dict (o)
tuple, set은 실질적인 자료 저장소는 아님. 
'''

In [1]:
tpl = (1, 2, 3, 4)

print(type(tpl), tpl)

<class 'tuple'> (1, 2, 3, 4)

In [2]:
print(tpl[0], tpl[1], tpl[2], tpl[3])
print(tpl[-1], tpl[-2], tpl[-3], tpl[-4])

1 2 3 4
4 3 2 1

In [3]:
tpl = 1, 2, 3, 4 # 괄호 생략 가능하나 가독성 측면에서 붙이는 게 좋음

print(type(tpl), tpl)

<class 'tuple'> (1, 2, 3, 4)

In [4]:
lst = [1234]

print(type(lst), lst)

<class 'list'> [1234]

In [5]:
tpl = (1234) # 단일 값 튜플을 일반적으로는 지원하지 않음

print(type(tpl), tpl) # print(type(tpl), tpl, tpl[0] 하면 tpl[0]에서 오류 생김

<class 'int'> 1234

In [7]:
tpl = (1234,) # 콤마 붙여서 단일 값 튜플로 인식하게 할 수 있음

print(type(tpl), tpl, tpl[0])

<class 'tuple'> (1234,) 1234

In [9]:
tpl = (1, 2, 3, 4)
tpl[1] = 5 # 튜플은 변경 불가. 오류 발생함.

TypeError: 'tuple' object does not support item assignment

In [10]:
tpl = (1, 2, 3, 4)

del tpl[2] # 튜플은 삭제 불가

TypeError: 'tuple' object doesn't support item deletion

In [16]:
tpl1 = (1, 2, 3, 4)
tpl2 = (5, 6, 7, 8)

print(tpl1 + tpl2) # 원래 튜플은 변하지 않고 연결, 반복 연산 잘 실행됨
print(tpl1 * 3)
print(tpl1, tpl2)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
(1, 2, 3, 4) (5, 6, 7, 8)

In [19]:
tpl = (1, 2, 3, 4, 5, 6, 7, 8, 9)

print(tpl[1:8:2]) # 슬라이싱은 범위 내 값을 가지고 새로운 튜플 만드는 것
print(tpl) # 기존 튜플 변하지 않으므로 슬라이싱 가능

(2, 4, 6, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [20]:
tpl = (1, 2, 3, 4, 5, 6, 7, 8, 9)

3 in tpl # 마찬가지 논리로 in 명령도 리스트와 동일하게 사용 가능

True

In [21]:
# 튜플도 메서드 있음. 리스트 메서드 중 index와 count만 가능.
tpl = (1, 2, 3, 4, 5, 6, 7, 8, 9)

print(tpl.index(7), tpl.count(7))

6 1

In [22]:
tpl.sort() # 리스트 메서드 중 sort는 순서를 변경하는 것이기 때문에 불가.

AttributeError: 'tuple' object has no attribute 'sort'

In [ ]:
'''
실제 데이터 저장소는 리스트임.
리스트 자체에서 자료를 쓰고 싶은데 수정되어야만 할 때
리스트를 튜플로 바꿔서 넘겨주면 원래 자료 그대로 보호한 채로 사용 가능

처음부터 튜플 만드는 경우는 거의 없음
'''

In [ ]:
'''
집합의 특징: 순서x, 중복 허용x
리스트, 튜플은 중복 허용o, 셋은 중복 허용x
리스트, 튜플은 사용자가 지정한 순서대로 저장됨
셋은 사용자 지정 순서와 저장 순서가 다를 수 있음
'''

In [25]:
set1 = {1, 2, 3, 4}
print(type(set1), set1)

<class 'set'> {1, 2, 3, 4}

In [26]:
set2 = {1, 2, 3, 4, 2, 5}
print(set2)

{1, 2, 3, 4, 5}

In [27]:
set3 = {3, 1, 4, 2, 5}
print(set3)

{1, 2, 3, 4, 5}

In [28]:
set4 = {100, True, 'set', 3.14} # 순서가 달라짐
set4

{100, 3.14, True, 'set'}

In [29]:
set5 = {1, 2, 3, 4, 5}
print(set5[2]) # set은 인덱스를 허용하지 않음

TypeError: 'set' object is not subscriptable

In [32]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

print(set1.intersection(set2)) # 교집합 출력
print(set1.union(set2)) # 합집합 출력
print(set1.difference(set2)) # 차집합 출력

print(set1, set2) # 원본 셋은 변하지 않음

{4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3}
{1, 2, 3, 4, 5} {4, 5, 6, 7, 8}

In [34]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

print(set1 & set2)
print(set1 | set2)
print(set1 - set2)
print(set1, set2) # 연산자를 사용해도 기존 집합은 변하지 않음

{4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3}
{1, 2, 3, 4, 5} {4, 5, 6, 7, 8}

In [37]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

set1.intersection_update(set2) # set1이 교집합 연산의 결과로 바뀜
print(set1, set2)

{4, 5} {4, 5, 6, 7, 8}

In [39]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

set1.update(set2) # union_update는 존재하지 않음. 대신 그냥 update 사용.
print(set1, set2)

{1, 2, 3, 4, 5, 6, 7, 8} {4, 5, 6, 7, 8}

In [40]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

set1.difference_update(set2) # set1의 내용이 차집합 연산의 결과로 바뀜
print(set1, set2)

{1, 2, 3} {4, 5, 6, 7, 8}

In [42]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

print(set1.symmetric_difference(set2)) # 대칭 차집합: 교집합을 뺀 나머지
print(set1, set2)

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 4, 5} {4, 5, 6, 7, 8}

In [43]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

set1.symmetric_difference_update(set2) # set1의 내용이 대칭 차집합 연산 결과로 바뀜
print(set1, set2)

{1, 2, 3, 6, 7, 8} {4, 5, 6, 7, 8}

In [47]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

print((set1 | set2) - (set1 & set2))
print(set1, set2)

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 4, 5} {4, 5, 6, 7, 8}

In [51]:
A = {4, 2, 3}
print(A)

A.add(1) # 집합에 원소 추가
print(A)

A.remove(4) # 집합에서 원소 삭제
print(A)

A.remove(2) # 원소 변경은 지원하지 않지만, 삭제 후 삽입하면 변경한 것과 같은 효과 가능
A.add(2.5)
print(A)

{2, 3, 4}
{1, 2, 3, 4}
{1, 2, 3}
{1, 2.5, 3}

In [55]:
A_list = [1, 2, 3, 4, 5]
B_list = [3, 4, 5, 6, 7]

A_set = set(A_list) # set으로 변환하는 함수
B_set = set(B_list)

C_set = A_set & B_set
C_list = list(C_set)

print(A_set, B_set, C_set)
print(A_list, B_list, C_list)

{1, 2, 3, 4, 5} {3, 4, 5, 6, 7} {3, 4, 5}
[1, 2, 3, 4, 5] [3, 4, 5, 6, 7] [3, 4, 5]

In [58]:
A_tuple = (1, 2, 3, 4, 5)
B_tuple = (3, 4, 5, 6, 7)

A_set = set(A_tuple)
B_set = set(B_tuple)

C_set = A_set & B_set
C_tuple = tuple(C_set)

print(A_set, B_set, C_set)
print(A_tuple, B_tuple, C_tuple)

{1, 2, 3, 4, 5} {3, 4, 5, 6, 7} {3, 4, 5}
(1, 2, 3, 4, 5) (3, 4, 5, 6, 7) (3, 4, 5)

In [64]:
# 딕셔너리

dct = {'one':1, 'two':2, 'three':3, 'two':22, 'four':3} # key 중복 불가, value 중복 가능
print(type(dct), dct)

<class 'dict'> {'one': 1, 'two': 22, 'three': 3, 'four': 3}

In [2]:
country_capital = {'영국':'런던', '프랑스':'파리', '스위스':'베른', '호주':'멜버른', '덴마크':'코펜하겐'}

print(country_capital)

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '덴마크': '코펜하겐'}

In [3]:
country_capital['영국'] # key 넣으면 value 반환

'런던'

In [4]:
# dict 데이터 추가
country_capital['독일'] = '베를린'
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '덴마크': '코펜하겐', '독일': '베를린'}

In [70]:
# dict 데이터 변경
country_capital['호주']='캔버라'
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '캔버라', '덴마크': '코펜하겐', '독일': '베를린'}

In [71]:
# dict 데이터 삭제
del country_capital['덴마크']
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '캔버라', '독일': '베를린'}

In [6]:
country_capital = {'영국':'런던', '프랑스':'파리', '스위스':'베른', '호주':'멜버른', '덴마크':'코펜하겐'}

keys = country_capital.keys()
print(type(keys), keys)

# key 값만 뽑아서 형 변환 가능

keys_list = list(keys)
print(type(keys_list), keys_list)

keys_tuple = tuple(keys)
print(type(keys_tuple), keys_tuple)

keys_set = set(keys)
print(type(keys_set), keys_set)

<class 'dict_keys'> dict_keys(['영국', '프랑스', '스위스', '호주', '덴마크'])
<class 'list'> ['영국', '프랑스', '스위스', '호주', '덴마크']
<class 'tuple'> ('영국', '프랑스', '스위스', '호주', '덴마크')
<class 'set'> {'호주', '영국', '스위스', '덴마크', '프랑스'}

In [79]:
country_capital = {'영국':'런던', '프랑스':'파리', '스위스':'베른', '호주':'멜버른', '덴마크':'코펜하겐'}

values = country_capital.values()
print(type(values), values)

# value 값만 뽑아서 형 변환 가능

values_list = list(values)
print(type(values_list), values_list)

values_tuple = tuple(values)
print(type(values_tuple), values_tuple)

values_set = set(values)
print(type(values_set), values_set)

<class 'dict_values'> dict_values(['런던', '파리', '베른', '멜버른', '코펜하겐'])
<class 'list'> ['런던', '파리', '베른', '멜버른', '코펜하겐']
<class 'tuple'> ('런던', '파리', '베른', '멜버른', '코펜하겐')
<class 'set'> {'코펜하겐', '파리', '베른', '런던', '멜버른'}

In [8]:
country_capital = {'영국':'런던', '프랑스':'파리', '스위스':'베른', '호주':'멜버른', '덴마크':'코펜하겐'}

items = country_capital.items()
print(type(items), items)

items_list = list(items)
print(type(items_list), items_list)

items_tuple = tuple(items)
print(type(items_tuple), items_tuple)

items_set = set(items)
print(type(items_set), items_set)

<class 'dict_items'> dict_items([('영국', '런던'), ('프랑스', '파리'), ('스위스', '베른'), ('호주', '멜버른'), ('덴마크', '코펜하겐')])
<class 'list'> [('영국', '런던'), ('프랑스', '파리'), ('스위스', '베른'), ('호주', '멜버른'), ('덴마크', '코펜하겐')]
<class 'tuple'> (('영국', '런던'), ('프랑스', '파리'), ('스위스', '베른'), ('호주', '멜버른'), ('덴마크', '코펜하겐'))
<class 'set'> {('프랑스', '파리'), ('덴마크', '코펜하겐'), ('호주', '멜버른'), ('스위스', '베른'), ('영국', '런던')}

In [11]:
country_capital_list = [('영국', '런던'), ('프랑스', '파리'), ('스위스', '베른'), ('호주', '멜버른'), ('덴마크', '코펜하겐')]
print(type(country_capital_list), country_capital_list)

country_capital_dict = dict(country_capital_list)
print(type(country_capital_dict), country_capital_dict)

# key, value 쌍으로 묶여있는 리스트만 dict로 형 변환 가능

<class 'list'> [('영국', '런던'), ('프랑스', '파리'), ('스위스', '베른'), ('호주', '멜버른'), ('덴마크', '코펜하겐')]
<class 'dict'> {'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '덴마크': '코펜하겐'}

In [13]:
country_capital_tuple = (('영국', '런던'), ('프랑스', '파리'), ('스위스', '베른'), ('호주', '멜버른'), ('덴마크', '코펜하겐'))
print(type(country_capital_tuple), country_capital_tuple)

country_capital_dict = dict(country_capital_tuple)
print(type(country_capital_dict), country_capital_dict)

# tuple도 dict로 형 변환 가능

<class 'tuple'> (('영국', '런던'), ('프랑스', '파리'), ('스위스', '베른'), ('호주', '멜버른'), ('덴마크', '코펜하겐'))
<class 'dict'> {'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '덴마크': '코펜하겐'}

In [14]:
country_capital_set = {('영국', '런던'), ('프랑스', '파리'), ('스위스', '베른'), ('호주', '멜버른'), ('덴마크', '코펜하겐')}
print(type(country_capital_set), country_capital_set)

country_capital_dict = dict(country_capital_set)
print(type(country_capital_dict), country_capital_dict)

# dict <-> list tuple set but <- 일 때는 list tuple set 안 값들이 key, value의 쌍으로 구성된 tuple 이어야 함

<class 'set'> {('영국', '런던'), ('프랑스', '파리'), ('덴마크', '코펜하겐'), ('스위스', '베른'), ('호주', '멜버른')}
<class 'dict'> {'영국': '런던', '프랑스': '파리', '덴마크': '코펜하겐', '스위스': '베른', '호주': '멜버른'}

In [21]:
country_capital_A = {'영국':'런던', '프랑스':'파리', '스위스':'베른'}
country_capital_B = {'호주':'멜버른', '덴마크':'코펜하겐'}

country_capital_A.update(country_capital_B)
country_capital_A

# update는 현재 dict의 내용을 변경함

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '덴마크': '코펜하겐'}

In [22]:
country_capital_A.clear()
country_capital_A

# {}는 dict일까, set일까?

{}

In [25]:
what = {}

type(what) # {}는 dict임. 비어있는 set는 존재하지 않음.

dict